In [1]:
import pandas as pd
import os

In [29]:
directory = '../location/location/'

file_names = os.listdir(directory)

files = [os.path.join(directory, file) for file in file_names]

df = pd.DataFrame()
for file in files:
    try:
        with open(file) as f:
            data = pd.read_csv(f)
    except:
        with open(file,encoding='gbk') as f:
            data = pd.read_csv(f)
    data = data.drop(data.columns[0],axis=1)
    if ' lat' not in data.columns:
        data = data.drop(data.columns[0],axis=1)
        data = data.rename(columns={'1':' lat', '2':' lon', '3': '0', '4': '1', '5': '2'})
    df = pd.concat([df, data])
    print(file,data.head(1).values)

../location/location/0-1999.csv [[18.34 109.25 '三亚市' '海南省' '天涯区']]
../location/location/10035-13499.csv [[29.88 91.09 '拉萨市' '西藏自治区' '林周县']]
../location/location/13500-17338.csv [[32.29 96.54 '玉树藏族自治州' '青海省' '囊谦县']]
../location/location/17339-17999.csv [[33.61 89.01 '那曲市' '西藏自治区' '双湖县']]
../location/location/18000-22499.csv [[34.62 113.19 '郑州市' '河南省' '新密市']]
../location/location/2000-4499.csv [[24.3 105.52 '曲靖市' '云南省' '会泽县']]
../location/location/20800-22499.csv [[34.99 85.05 '阿里地区' '西藏自治区' '改则县']]
../location/location/22500-26999.csv [[36.42 120.49 '青岛市' '山东省' '即墨区']]
../location/location/27000-28198.csv [[36.92 76.75 '喀什地区' '新疆维吾尔自治区' '叶城县']]
../location/location/28199-31499.csv [[40.43 106.51 '巴彦淖尔市' '内蒙古自治区' '磴口县']]
../location/location/31500-35999.csv [[41.08 121.58 '锦州市' '辽宁省' '凌海市']]
../location/location/36000-40499.csv [[43.77 85.97 '昌吉回族自治州' '新疆维吾尔自治区' '玛纳斯县']]
../location/location/40500-44999.csv [[49.05 118.24 '呼伦贝尔市' '内蒙古自治区' '新巴尔虎左旗']]
../location/location/4500-8999.csv [[26.16 115.19 '赣州市' '江西省' '赣县区']]
../location/location/9000-10034.csv [[29.57 115.09 '黄石市' '湖北省' '阳新县']]

In [31]:
df

        lat     lon    0      1        2
0     18.34  109.25  三亚市    海南省      天涯区
1     18.34  109.38  三亚市    海南省      天涯区
2     18.33  109.52  三亚市    海南省      吉阳区
3     18.33  109.66  三亚市    海南省      吉阳区
4     18.49  108.83   []    海南省  乐东黎族自治县
...     ...     ...  ...    ...      ...
1030  29.79   90.31  拉萨市  西藏自治区      当雄县
1031  29.81   90.47  拉萨市  西藏自治区      当雄县
1032  29.82   90.62  拉萨市  西藏自治区    堆龙德庆区
1033  29.84   90.78  拉萨市  西藏自治区    堆龙德庆区
1034  29.86   90.93  拉萨市  西藏自治区      林周县

[42249 rows x 5 columns]

In [30]:
df.to_csv('temp.csv',encoding='utf-8')

In [5]:
# get data
date = pd.read_csv("D:/计算机大三上/大数据分析实践/project/CN-Reanalysis201301/201301/CN-Reanalysis-daily-2013010100.csv")

# for date in range(2,32):
#     with open("D:/计算机大三上/大数据分析实践/project/CN-Reanalysis201301/201301/CN-Reanalysis-daily-201301{}00.csv".format(str(date).zfill(2))) as f:
#         df_temp = pd.read_csv(f)
#         df = pd.concat([df,df_temp])
#         time = '2013-1-{}'.format(date)

In [8]:
date = date.merge(df,how='left',on=[' lat',' lon'])

In [3]:
data = pd.read_csv('经纬度_省市区.csv',encoding='gbk')

In [8]:
data

       Unnamed: 0    lat     lon        市      省      区/县
0               0  18.34  109.25      三亚市    海南省      天涯区
1               1  18.34  109.38      三亚市    海南省      天涯区
2               2  18.33  109.52      三亚市    海南省      吉阳区
3               3  18.33  109.66      三亚市    海南省      吉阳区
4               4  18.49  108.83  乐东黎族自治县    海南省  乐东黎族自治县
...           ...    ...     ...      ...    ...      ...
42244        1030  29.79   90.31      拉萨市  西藏自治区      当雄县
42245        1031  29.81   90.47      拉萨市  西藏自治区      当雄县
42246        1032  29.82   90.62      拉萨市  西藏自治区    堆龙德庆区
42247        1033  29.84   90.78      拉萨市  西藏自治区    堆龙德庆区
42248        1034  29.86   90.93      拉萨市  西藏自治区      林周县

[42249 rows x 6 columns]

In [13]:
data.loc[data['市'] =='[]','市'] = data.loc[data['市'] =='[]','区/县']

In [19]:
aqi = pd.read_csv('AQI_result13_01_01.csv')
aqi = aqi[[' lat',' lon','AQI']]

In [20]:
aqi

         lat     lon        AQI
0      18.34  109.25  28.871429
1      18.34  109.38  29.157143
2      18.33  109.52  30.242857
3      18.33  109.66  31.771429
4      18.49  108.83  28.114286
...      ...     ...        ...
42244  53.18  125.08   5.500000
42245  53.51  123.24   5.500000
42246  53.49  123.45   5.500000
42247  53.47  123.66   5.500000
42248  53.44  123.87   5.500000

[42249 rows x 3 columns]

In [21]:
data = pd.merge(data,aqi,how='left',on=[' lat',' lon'])
data

       Unnamed: 0    lat     lon        市      省      区/县        AQI
0               0  18.34  109.25      三亚市    海南省      天涯区  28.871429
1               1  18.34  109.38      三亚市    海南省      天涯区  29.157143
2               2  18.33  109.52      三亚市    海南省      吉阳区  30.242857
3               3  18.33  109.66      三亚市    海南省      吉阳区  31.771429
4               4  18.49  108.83  乐东黎族自治县    海南省  乐东黎族自治县  28.114286
...           ...    ...     ...      ...    ...      ...        ...
42244        1030  29.79   90.31      拉萨市  西藏自治区      当雄县   3.000000
42245        1031  29.81   90.47      拉萨市  西藏自治区      当雄县   3.250000
42246        1032  29.82   90.62      拉萨市  西藏自治区    堆龙德庆区   3.750000
42247        1033  29.84   90.78      拉萨市  西藏自治区    堆龙德庆区   6.130000
42248        1034  29.86   90.93      拉萨市  西藏自治区      林周县   9.190000

[42249 rows x 7 columns]

In [22]:
df=pd.read_csv("D:/计算机大三上/大数据分析实践/project/CN-Reanalysis201301/201301/CN-Reanalysis-daily-2013010100.csv")

In [25]:
df

,PM2.5(微克每立方米),PM10(微克每立方米),SO2(微克每立方米),NO2(微克每立方米),CO(毫克每立方米),O3(微克每立方米),U(m/s),V(m/s),TEMP(K),RH(%),PSFC(Pa),lat,lon,,Unnamed: 0,市,省,区/县,AQI
0,20.21,23.56,8.65,4.58,0.29,63.44,-2.48,-2.31,291.54,68.14,100350.11,18.34,109.25,,0,三亚市,海南省,天涯区,28.871429
1,20.41,23.96,9.28,5.24,0.29,62.53,-3.43,-3.21,291.96,67.41,100546.63,18.34,109.38,,1,三亚市,海南省,天涯区,29.157143
2,21.17,24.78,10.07,5.47,0.30,62.24,-3.43,-4.72,291.37,69.59,100428.13,18.33,109.52,,2,三亚市,海南省,吉阳区,30.242857
3,22.24,26.04,10.36,5.28,0.30,63.58,-2.92,-5.32,290.74,72.94,100569.27,18.33,109.66,,3,三亚市,海南省,吉阳区,31.771429
4,19.68,22.34,7.62,3.58,0.29,66.21,-2.51,-3.13,291.67,65.97,101620.34,18.49,108.83,,4,乐东黎族自治县,海南省,乐东黎族自治县,28.114286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42244,0.23,0.26,0.51,0.57,0.22,63.67,5.14,-4.29,246.32,57.99,98157.16,53.18,125.08,,1744,大兴安岭地区,黑龙江省,塔河县,5.500000
42245,0.13,0.15,1.46,0.52,0.22,63.09,2.99,-5.34,245.23,59.83,96514.89,53.51,123.24,,1745,大兴安岭地区,黑龙江省,漠河市,5.500000
42246,0.14,0.16,1.51,0.56,0.22,63.93,3.49,-6.46,245.50,57.22,96618.52,53.49,123.45,,1746,大兴安岭地区,黑龙江省,漠河市,5.500000
42247,0.15,0.18,1.27,0.60,0.22,64.56,3.63,-6.44,246.06,54.63,97171.19,53.47,123.66,,1747,大兴安岭地区,黑龙江省,漠河市,5.500000
42248,0.17,0.20,1.12,0.70,0.22,64.88,3.85,-6.27,246.37,53.44,97647.19,53.44,123.87,,1748,大兴安岭地区,黑龙江省,漠河市,5.500000

In [24]:
df = pd.merge(df,data,how='left',on=[' lat',' lon'])
df.to_csv('1301_aqi_location.csv')

In [17]:
data.to_csv('经纬度_省市区.csv',encoding='utf-8')