In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
df = pd.read_csv('Pokemon.csv', encoding='ISO-8859-1')
df = df.iloc[:-2]

In [3]:
#数据预处理
nan_rows = df[df.drop(columns='Type 2').isna().any(axis=1)]
nan_rows

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
17,13,Weedle,Bug,Poison,195,NaN,35,30,20,20,50,1,FALSE
39,32,Nidoranâ?Poison,NaN,273,46,57,40,40,40,50,1,FALSE,NaN
532,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,NaN

In [5]:
# 删除含有缺失值的行
df = df.dropna(subset=df.columns.difference(['Type 2']))

In [7]:
# Coherent
print(df['Legendary'].unique())
print(df['Generation'].unique())

['FALSE' '1' '0' 'Poison' 'Ground' 'TRUE']
['1' 'FALSE' '2' '3' '4' '5' '6' 'undefined']

In [9]:
# 查看是否有非数字的异常,没有发现不规范的值
num_columns = ['Total', 'HP', 'Attack', 'Defense','Sp. Atk', 'Sp. Def', 'Speed']
non_numeric_rows = df[num_columns].apply(pd.to_numeric, errors='coerce').isna().any(axis=1)
df[non_numeric_rows]

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, Total, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [11]:
# Consistency
# 以Name为分组标准，查看是否存在同名而属性不同数据，没有发现
count_by_name = df.groupby('Name').nunique()
count_by_id = df.groupby('#').nunique()
print(count_by_name.shape, len(df['Name'].unique()))
print(count_by_id.shape, len(df['#'].unique()))

(797, 12) 797
(719, 12) 719

In [12]:
# 重复数据
df['Name'].value_counts().sort_values(ascending=False)

Ariados                  4
Pidgeotto                2
Metapod                  2
SceptileMega Sceptile    1
Paras                    1
                        ..
Xerneas                  1
Yveltal                  1
Zygarde50% Forme         1
Diancie                  1
Volcanion                1
Name: Name, Length: 797, dtype: int64