In [12]:
import pandas as pd

In [13]:
df = pd.read_csv('Pokemon.csv', encoding='ISO-8859-1')
df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,FALSE
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,FALSE
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,FALSE
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,FALSE
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,FALSE

In [14]:
# 首先检查数据完整性
nan_rows = df[df.drop(columns='Type 2').isna().any(axis=1)]
# 查看缺失值，发现 Legendary，HP 含有数据缺失
nan_rows

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
17,13,Weedle,Bug,Poison,195,NaN,35,30,20,20,50,1,FALSE
39,32,Nidoranâ?Poison,NaN,273,46,57,40,40,40,50,1,FALSE,NaN
532,475,GalladeMega Gallade,Psychic,Fighting,618,68,165,95,65,115,110,4,NaN

In [15]:
# 删除含有缺失值的行
df = df.dropna(subset=df.columns.difference(['Type 2']))

In [16]:
print(df['Legendary'].unique())
print(df['Generation'].unique())

['FALSE' '1' '0' 'Poison' 'Ground' 'TRUE' 'undefined']
['1' 'FALSE' '2' '3' '4' '5' '6' 'undefined']

In [17]:
# 以Name为分组标准，查看是否存在同名而属性不同数据，没有发现
count_by_name = df.groupby('Name').nunique()
count_by_id = df.groupby('#').nunique()
print(count_by_name.shape, len(df['Name'].unique()))
print(count_by_id.shape, len(df['#'].unique()))

(798, 12) 798
(720, 12) 720

In [18]:
# 重复数据
df['Name'].value_counts().sort_values(ascending=False)

Ariados                4
Pidgeotto              2
undefined              2
Metapod                2
Arbok                  1
                      ..
Zygarde50% Forme       1
Diancie                1
DiancieMega Diancie    1
HoopaHoopa Confined    1
Clamperl               1
Name: Name, Length: 798, dtype: int64