In [1]:
import pandas as pd

data = pd.read_csv("D:/计算机大三上/大数据分析实践/project/CN-Reanalysis201301/201301/CN-Reanalysis-daily-2013010100.csv")

In [67]:
group = data.groupby([' lat',' lon'])

In [99]:
cols = ['PM2.5(微克每立方米)', ' PM10(微克每立方米)', ' SO2(微克每立方米)', ' NO2(微克每立方米)',
       ' CO(毫克每立方米)', ' O3(微克每立方米)', ' U(m/s)', ' V(m/s)', ' TEMP(K)',
       ' RH(%)', ' PSFC(Pa)', ' lat', ' lon']

In [74]:
col = 'PM2.5(微克每立方米)'
t = group[col].apply(lambda x: pd.to_numeric(x.str.strip(), errors='coerce')).mean()

print(t)

42.261409584804056

In [121]:
pro_data = []
pro_data = pd.DataFrame(pro_data)
for col in cols:
    t = data[col].str.strip()
    t = t.apply(pd.to_numeric, errors='coerce')
    # t = t.mean()
    # print(t)
    pro_data[col] = t

In [124]:
pro_data = pro_data.dropna()

In [125]:
pro_data

,PM2.5(微克每立方米),PM10(微克每立方米),SO2(微克每立方米),NO2(微克每立方米),CO(毫克每立方米),O3(微克每立方米),U(m/s),V(m/s),TEMP(K),RH(%),PSFC(Pa),lat,lon
0,20.21,23.56,8.65,4.58,0.29,63.44,-2.48,-2.31,291.54,68.14,100350.11,18.34,109.25
1,20.41,23.96,9.28,5.24,0.29,62.53,-3.43,-3.21,291.96,67.41,100546.63,18.34,109.38
2,21.17,24.78,10.07,5.47,0.30,62.24,-3.43,-4.72,291.37,69.59,100428.13,18.33,109.52
3,22.24,26.04,10.36,5.28,0.30,63.58,-2.92,-5.32,290.74,72.94,100569.27,18.33,109.66
4,19.68,22.34,7.62,3.58,0.29,66.21,-2.51,-3.13,291.67,65.97,101620.34,18.49,108.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1309744,1.93,2.08,2.67,0.98,0.21,41.14,6.20,-0.67,244.52,71.47,99430.13,53.18,125.08
1309745,1.65,1.81,1.97,0.74,0.21,41.83,4.77,-0.27,243.42,71.17,97591.93,53.51,123.24
1309746,1.68,1.84,2.28,0.80,0.21,41.56,5.54,-1.39,243.91,70.57,97713.55,53.49,123.45
1309747,1.69,1.85,2.45,0.85,0.21,41.59,5.24,-2.13,244.23,70.46,98297.62,53.47,123.66
1309748,1.68,1.85,2.59,0.92,0.21,42.07,4.53,-1.80,243.74,70.65,98812.94,53.44,123.87

In [12]:
numeric_data = data[:10]

In [30]:
numeric_data.columns

Index(['20.21     ', ' 23.56     ', ' 8.65      ', ' 4.58      ',
       ' 0.29      ', ' 63.44     ', ' -2.48     ', ' -2.31     ',
       ' 291.54    ', ' 68.14     ', ' 100350.11 ', ' 18.34     ',
       ' 109.25    ', ' '],
      dtype='object')

In [32]:
str = numeric_data['20.21     '].str.strip()

In [40]:
str = str.apply(pd.to_numeric, errors='coerce')

In [48]:
str.mean()

21.964000000000002

In [63]:
data1 = data1.apply(lambda x: x.map(float))

ValueError: could not convert string to float: 'PM2.5(微克每立方米)'

In [52]:
group = data1.groupby([' lat', ' lon'])

In [56]:
group['PM2.5(微克每立方米)'].mean()

TypeError: agg function failed [how->mean,dtype->object]

In [12]:
data = {}
for i in range(1,32):
    data[i] = pd.read_csv("D:/计算机大三上/大数据分析实践/project/CN-Reanalysis201301/201301/CN-Reanalysis-daily-201301{}00.csv".format(str(i).zfill(2)))

In [13]:
data[1].columns

Index(['PM2.5(微克每立方米)', ' PM10(微克每立方米)', ' SO2(微克每立方米)', ' NO2(微克每立方米)',
       ' CO(毫克每立方米)', ' O3(微克每立方米)', ' U(m/s)', ' V(m/s)', ' TEMP(K)',
       ' RH(%)', ' PSFC(Pa)', ' lat', ' lon', ' '],
      dtype='object')

In [4]:
attributes = ['PM2.5(微克每立方米)', ' PM10(微克每立方米)', ' SO2(微克每立方米)', ' NO2(微克每立方米)',
       ' CO(毫克每立方米)', ' O3(微克每立方米)']
mean = {}
for attribute in attributes:
    mean[attribute] = data[attribute].mean

In [9]:
mean[' CO(毫克每立方米)']

<bound method Series.mean of 0        0.29
1        0.29
2        0.30
3        0.30
4        0.29
         ...
42244    0.22
42245    0.22
42246    0.22
42247    0.22
42248    0.22
Name:  CO(毫克每立方米), Length: 42249, dtype: float64>